/* Color utilizado en las noticias */
/* Color utilizado en el footer*/
/*=============================================
ESTILOS GLOBALES
=============================================*/
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.contenedor {
  position: relative;
  width: 100%;
}

.container {
  z-index: 999;
  margin: 0 9%;
  width: 82%;
  height: auto;
}

.fila {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both;
  display: table;
}

/* Alinear texto al centro */
.text-center {
  text-align: center;
}

/* Alinear texto a la derecha */
.text-right {
  text-align: right;
}

/* Alinear texto al izquierda */
.text-left {
  text-align: left;
}

.btn {
  text-decoration: none;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 13px;
  margin-left: 0;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
}

/* flotamiento al derecha */
.float-right {
  float: right;
}

/* flotamiento al izquierda */
.float-left {
  float: left;
}

/*=============================================
	SECCION 1
=============================================*/
/* caracteristicas de la imagen de portada con el titulo BLOG*/
.portada {
  background-image: url("../img/img-principal-ib.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 350px;
  color: #fff;
  z-index: -1;
}

.portada h1 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  font-size: 1.875rem;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  text-align: center;
  margin-bottom: .5rem;
}

/* caracteristicas de la barra de contacto */
header {
  background-color: #c8a27e;
}

header .contacto {
  text-align: end;
}

header .contacto a {
  text-decoration: none;
  color: #211915;
}

header .contacto a:hover {
  color: #FFF;
}

/* Carasteristicas del navbar de sus items en general */
.navbar nav {
  text-align: center;
  color: #FFF;
  border-bottom: 1.5px solid #FFF;
  z-index: 999;
}

.navbar nav div a img {
  width: auto;
  height: 75px;
}

.navbar nav div ul li {
  padding: 10px;
  text-align: right;
  float: right;
  list-style: none;
}

.navbar nav div ul li a {
  display: block;
  color: #FFF;
  line-height: 43px;
  text-decoration: none;
  text-align: right;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar nav div ul li a:hover {
  color: #BDA080;
}

/* Ocultar en modo no responsive el icono de la Burger */
#menu-toggle {
  display: none;
}

.label-toggle {
  display: none;
}

/* caracteristicas de la barra debajo de la portada */
.barra {
  background-color: #D1D2D3;
  margin-top: 232px;
  margin-bottom: 0;
  min-height: 48px;
  padding: 0 !important;
}

.barra div ul {
  margin: 0;
}

.barra div ul li {
  float: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.barra div ul li:nth-of-type(1) a::before {
  /* 
					Para escoger solo el primer item en este 
					caso es la etiqueta a, solo tomamos el primero
					y aplicamos before y after para agregar contenido		
				    Before: agregamos el cuadro que es una imagen
			 		*/
  content: url(../img/list-square.png);
  position: absolute;
  left: -5px;
}

.barra div ul li:nth-of-type(1) a::after {
  /*
					Para escoger solo el primer item en este 
					caso es la etiqueta a, solo tomamos el primero
					y aplicamos before y after para agregar contenido
					After: Agregamos la barra
			 		*/
  content: "|";
  border-right: none;
  padding-left: 12px;
  opacity: 0.6;
}

.barra div ul li a {
  /* Estableciendo caracteristicas de la etiqueta a */
  text-decoration: none;
  color: #7F7F7F;
  font-family: "Work Sans";
  font-size: 0.875rem;
  padding: 15px;
  position: relative;
}

/*=============================================
	SECCION 2
=============================================*/
/* Estableciendo propiedades de la seccion2 */
#seccion2 {
  background-color: #fff;
  padding: 80px 0;
}

/* Estableciendo propiedad de toda la seccion2 de noticias */
#seccion2 .main {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

#seccion2 .main-ppal-noticia article {
  /* Propiedades del articulo como altura, sombra, margin y padding */
  margin-bottom: 80px;
  height: 250px;
  padding: 34px 0 34px 28px;
  -webkit-box-shadow: 3px 3px 30px 1px #888888;
  box-shadow: 3px 3px 30px 1px #888888;
}

#seccion2 .main-ppal-noticia article .poster {
  /* Haciendo el div relative para poner texto encima de la img */
  position: relative;
  display: inline-block;
}

#seccion2 .main-ppal-noticia article .poster img {
  /* Propiedades de la imagen */
  height: 250px;
  width: 100%;
}

.fecha {
  /* Propiedad global de fecha
					Ya que se utilizara nuevamente en el Article del aside
					de position absolute para poder 
					ponerlo en la parte superior derecha
				 */
  width: 80px;
  height: 80px;
  background: #962328;
  border-radius: 50px 0 50px 50px;
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
}

.fecha p {
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

.fecha p span {
  display: block;
  font-weight: 100;
  font-size: 1rem;
}

#seccion2 .main-ppal-noticia article .texto-articulo {
  /* Estableciendo propiedad de padding del texto */
  padding: 24px 40px 24px 40px;
}

.title-articulo {
  /*Estableciendo propiedades globales del title del artuculo
				  Ya que se utilizara en el Article del Aside
				*/
  color: #212529;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
}

.contenido-articulo {
  /*Estableciendo propiedades globales del contenido del artuculo
				  Ya que se utilizara en el Article del Aside
				*/
  color: #212529;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}

.ver-mas, #seccion2 .main-ppal-noticia article .texto-articulo a {
  /*
				Propiedades de los botones del articulo
				al igual que el boton de ver mas
				*/
  color: #962328;
  border-color: #962328;
}

.ver-mas:hover, #seccion2 .main-ppal-noticia article .texto-articulo a:hover {
  /* Hover de los botones */
  color: #fff;
  background-color: #962328;
}

#seccion2 .main-ltral-noticia aside {
  /*Propiedades del Aside
			*/
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  background-color: #f0f0f0;
  line-height: 1.5;
  color: #212529;
}

#seccion2 .main-ltral-noticia aside .redes {
  /*Propiedades de las redes sociales 
				*/
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin: 0 40px 0 40px;
  border-bottom: 1px solid #BDA080;
}

#seccion2 .main-ltral-noticia aside .redes h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

#seccion2 .main-ltral-noticia aside .redes a {
  color: #962328;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 5px 0 5px;
}

#seccion2 .main-ltral-noticia aside .last-noticias {
  /*Estableciendo propiedades del h3 
				*/
  margin: 48px 0 48px 0;
  background-color: #962328;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

#seccion2 .main-ltral-noticia aside .article-aside {
  /*
					Propiedades del Article dentro del Aside
				*/
  margin: 0 40px 0 40px;
  padding: 14px 20px 0 40px;
}

#seccion2 .main-ltral-noticia aside .article-aside article {
  /*
						Propiedades del del Article dentro del Aside
					*/
  padding: 10px 0 24px 0;
  position: relative;
  display: inline-block;
}

#seccion2 .main-ltral-noticia aside .article-aside article img {
  /* Propiedades de imagen del Article dentro del Aside  */
  height: 160px;
  width: 100%;
}

#seccion2 .main-ltral-noticia aside .article-aside article a {
  text-decoration: none;
}

#seccion2 .main-ltral-noticia aside .article-aside article hr {
  /*
						Propiedades de la barra del Article dentro del Aside
						*/
  margin: 0 0 5px 0;
  width: 50px;
  border-color: #BDA080;
}

/*=============================================
	FOOTER
=============================================*/
/*Caracteristicas general de Footer
Estableciendo un BG
*/
footer {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  padding-top: 50px;
  /*
	caracteristicas del titulo de Contacto del Footer
	*/
}

footer .contacto {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

footer .contacto::before {
  /*Linea derecha en el titulo de Contacto del Footer*/
  content: '';
  position: absolute;
  height: 25px;
  width: 39%;
  top: 15px;
  border-bottom: 2px solid #C8A27E;
  right: -24px;
}

footer .contacto::after {
  /*Linea izquierda en el titulo de Contacto del Footer*/
  content: '';
  position: absolute;
  height: 25px;
  width: 39%;
  top: 15px;
  border-bottom: 2px solid #C8A27E;
  left: -24px;
}

footer form {
  /* Estableciendo caracteristicas del form
		junto a los input y el textarea
		*/
  margin: 30px 10px;
}

footer form input, footer form textarea {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  color: #4f4a63;
  font-family: 'Arial', bold;
}

footer .boton {
  /* Caracteisticas del Boton del form del Footer */
  margin: 0 10px;
}

footer .boton a {
  text-decoration: none;
  color: #fff;
  border: 2px solid #C8A27E;
  border-radius: 5px;
  padding: 5px 25px;
  margin-left: 0;
  font-size: 1.2rem;
}

footer .boton a:hover {
  background-color: #C8A27E;
}

footer .barra-footer::before {
  /* Linea central del footer */
  content: '';
  height: 100px;
  position: relative;
  top: 55px;
  margin: 40px 50%;
  border: 1px solid #C8A27E;
  font-size: 9rem;
}

footer .text-footer {
  /* Caracteristicas del texto footer 
		de la lista desordenada y las imagenes
		dentro de ellas
		*/
  text-align: left;
  margin: 70px 0;
}

footer .text-footer ul {
  padding-left: 0;
}

footer .text-footer ul li {
  float: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  clear: both;
}

footer .text-footer ul li img {
  width: 18px;
  height: auto;
  color: #fff;
  padding: 0 5px;
}

footer .text-footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer i {
  /*
	Caracteristicas de los iconos de redes sociales en el Footer
	*/
  color: #fff;
  padding: 0 10px;
  margin: 20px 0;
}

footer .barra-fondo {
  /* caracteristicas de la barra casi al final del Footer */
  background-color: #962328;
  height: 112px;
}

footer .end {
  /* Caracteristicas de la barra final del Footer */
  background-color: #000;
}

footer .end a {
  text-decoration: none;
}

footer .end a .muva {
  /* modificacion de imagen de MUVA */
  height: 17px;
  width: auto;
}

footer .end a .ico-desarrollo {
  /* modificacion de imagen de ICO-DESARROLLO */
  height: 21px;
  width: auto;
}

/*=============================================
	THE MODAL
=============================================*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fff !important;
  padding: 10px 0;
  height: 150px;
}

#caption .title-articulo {
  color: #962328 !important;
}

#caption .contenido-articulo {
  color: #fff !important;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-0 {
    display: none;
    visibility: hidden;
  }
}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/
@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-0 {
    display: none;
    visibility: hidden;
  }
}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/
@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-0 {
    display: none;
    visibility: hidden;
  }
  /*
	Ajustar barra debajo de la img de portada
	*/
  .barra {
    margin-top: 169px;
  }
  /*
	Ajustes responsive del footer
	*/
  footer .text-footer {
    /* 
			centrando el texto del footer
			*/
    text-align: center;
    font-size: .9rem;
    margin: 50px 25%;
  }
  footer .barra-footer {
    /*Para que no aparezca la linea en el footer
			*/
  }
  footer .barra-footer::before {
    border: 0;
  }
}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/
@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-0 {
    display: none;
    visibility: hidden;
  }
  /*
	Ajustar barra debajo de la img de portada
	*/
  .barra {
    margin-top: 169px;
  }
  /*
		Estabeciendo configuracion del responsive del Article
	*/
  #seccion2 .main {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  #seccion2 .main-ppal-noticia article {
    height: 500px;
    padding: 34px 28px 34px 28px;
    margin-bottom: 40px;
  }
  #seccion2 .main-ppal-noticia article .texto-articulo {
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
  }
  .title-articulo {
    font-size: 1rem;
  }
  .contenido-articulo {
    font-size: 0.8rem;
  }
  #seccion2 .main-ltral-noticia aside .article-aside {
    margin: 0 20px;
    padding: 0 10px;
  }
  /*
	Ajustes responsive del footer
	*/
  footer .text-footer {
    /* 
			centrando el texto del footer
			*/
    text-align: center;
    font-size: .7rem;
    margin: 50px 25%;
  }
  footer .barra-footer {
    /*Para que no aparezca la linea en el footer
			*/
  }
  footer .barra-footer::before {
    border: 0;
  }
  /* CARACTERISTICAS RESPONSIVE DEL MENU */
  /*
		Escondiendo los items del UL cuando es responsive
		para mostrarlo con icono de la burguer 
	*/
  nav div ul {
    background: rgba(33, 37, 41, 0.8);
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    width: 222px;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 88px;
    z-index: 1;
  }
  /* carasteristicas de los items del menu en responsive */
  nav div ul li {
    color: #fff;
    display: contents;
    font-size: 1rem;
    padding: 15px 0 !important;
  }
  nav div ul li a:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  nav div ul li a {
    padding-right: 15px;
  }
  /* aparecer el menu con sus items */
  #menu-toggle:checked ~ ul {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
  /* caracteristicas del menu */
  .label-toggle {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(20%, #fff), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #fff), color-stop(60%, #fff), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #fff), to(#fff));
    background: -webkit-linear-gradient(top, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
    background: -o-linear-gradient(top, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    margin-top: 1em;
    width: 30px;
  }
}

/*Responsive del article para modificar su altura*/
@media (max-width: 500px) {
  #seccion2 .main {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  #seccion2 .main-ppal-noticia article {
    height: 550px;
  }
}

[class*="col-"] {
  float: left;
  padding: 10px 0px;
  display: block;
  visibility: visible;
}

/*# sourceMappingURL=estilos.css.map */